

<div class="header-container">
  <nav class="header-content-container">

    <div class="header-logo">
      <a href="#" id="logo">
        <img src="../../../assets/img/task-minder-logo.png">
      </a>
    </div>

    <div class="header-link home">
      <a routerLink='/home'>Home</a>
    </div>
    <div class="header-link account">
      <a routerLink='/account'>Account</a>
    </div>
    <div class="header-link logout">
      <a class="button" routerLink='/home'><button>Logout</button></a>
    </div>

  </nav>
</div>