.login-form-container {
  height: 100%;
  padding-top: 40px;
  position: fixed;
  width: 100%;

  .login-form {
    margin: auto;
    padding: 35px;
    text-align: center;
    width: 350px;

    h1 {
      margin-bottom: 40px;
    }

    .input-container {

      margin-bottom: 16px;
    
      input {
        height: 50px;
        width: 100%;
      }

      button {
        height: 50px;
        width: 100%;
      }
    }

    a {
      text-decoration: none;
    }
  }

}