<div *ngIf="!complete" class="password-reset-container">

  <div class="title">
    <h1>Reset Password</h1>
  </div>
  <div class="info">
    <p>
      Enter your account email here. 
      We'll email you directions 
      to reset your password.
    </p>
  </div>

  <div class="email-input">
    <form
      [formGroup]="resetForm"
      class="form">

      <!-- Email -->
      <div class="input-container">
        <label hidden for="email">Email: </label>
        <input
          class="clear-on-focus" 
          id="email" 
          type="text" 
          formControlName="email" 
          placeholder="Email">
      </div>

      <div 
        *ngIf="showErrors && currentInputFocus!='email' && email!.invalid && email!.touched" 
        class="alert alert-danger">
        <div>A valid email address is required.</div>
      </div>

    </form>
  </div>

  <div class="button cancel-button">
    <div class="input-container">
      <button class="solid round" (click)="cancel()">Cancel</button>
    </div>
  </div>

  <div class="button submit-button">
    <div class="input-container">
      <button 
        type="submit"
        class="solid round"
        (click)="submitResetForm()">
        Submit
      </button>
    </div>
  </div>

</div>

<div *ngIf="complete" class="password-reset-container">
  <div class="title">
    <h1>Reset Password Submitted</h1>
    <div class="info">
      <p>
        Please check your email for directions.
      </p>
    </div>

    <div class="button cancel-button">
      <div class="input-container">
        <button class="solid round" (mousedown)="cancel()">OK</button>
      </div>
    </div>

  </div>

</div>