

.password-reset-container {

  .title {
    grid-area: title;
    width: 100%;
  }

  .info {
    grid-area: info;
    width: 100%;
  }

  .email-input {
    grid-area: email-input;
    width: 100%;
  }

  .submit-button {
    grid-area: submit-button;
  }

  .cancel-button {
    grid-area: cancel-button;
  }

  .button {
    margin-left: 25px;
  }

  display: grid;
  gap: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "title title title title"
  "info info info info"
  "email-input email-input email-input email-input  "
  ". . cancel-button submit-button";

  



}





.input-container {

  margin-bottom: 16px;


  button {
    height: 50px;
  }
}