
.sidebar-container {
  color: #FFFFFF;
  font-size: 14px;
  height: 5000px;
  padding: 30px 30px 0 30px;

  hr {
    margin: 2px 0;
  }

  ul {
    list-style-type: none;
    padding-left: 18px;
    li {
      padding-bottom: 22px;
    }
  }
}