button {
  background-color: #FFFFFF;
  border-color: $theme-main-color;
  border-radius: 0;
  
  border-style: solid;
  cursor: pointer;

  font-family: Helvetica;

  padding: 6px 12px;

  &.solid {
    background-color: $theme-main-color;
    color: #FFFFFF;
  }

  &.round {
    border-radius: 100px;
  }
}